body{
    font-size: 16px;
    color: #fff;
    background-color: #61122f;
}
#header-nav{
    background-color: yellow;
    border: 0;
    border-radius: 0;

}
#logo-img{
    background: url(../images/output-onlinepngtools.png);
    height: 150px;
    width: 150px;
    margin: 10px 5px;
}