.navbar-default{

background-color: cadetblue;
padding: 25px;

}
.navbar-header a, h1{

  color: black;
  font-size: 50px;
  text-shadow: 1px 1px 1px #222;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration:none;
}
#menu{

  font-size: 35px;
}
#main{

  margin: 40px;
  padding: 25px;
}
